@font-face {
  font-family: "Opensans";
  font-weight: 300;
  src: url(../fonts/opensanslight.woff2) format("woff2"),
  url(../fonts/opensanslight.woff) format("woff");
}

@font-face {
  font-family: "Opensans";
  font-weight: 400;
  src: url(../fonts/opensans.woff2) format("woff2"),
  url(../fonts/opensans.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url(../fonts/gilroylight.woff2) format("woff2"),
  url(../fonts/gilroylight.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
  url(../fonts/gilroyextrabold.woff) format("woff");
}

body {
  min-width:  1160px;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;  
  margin: 0 auto;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: black;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:hover {
  transition-delay: 0.2s;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background: #f0c52e;
}

input::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}
/***** header ****************************************************/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 41px;
  background-color: #f7e296;
}

.header__logo {
  position: absolute;
  top: -19px;
  left: 61px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header__top,
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 58px;
  margin-right: 58px;  
}

.header__right {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.header__top {
  margin-top: 27px;
}

.header__main {
  margin-top: 10px;
  margin-bottom: 20px;
}

.goods .header__main {
  margin-bottom: 34px;
}
/********************************************/
.search{
  position: relative;
}

.search::before {
  position: absolute;
  top: 16px;
  left: 6px;
  width: 16px;
  height: 18px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";  
}

.search__text {
  width: 265px;
  height: 41px;
  padding-left: 40px;
  padding-right: 70px;
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  background: #f7e296;
  border: none;
}

.search__text:hover{
  color: rgba(0, 0, 0, 0.6);
}

.search__text:focus{
  color: black;
  border-bottom: solid 2px black;
  outline: none;
}

.search__text:focus + .search__button {
    display: inline-block;
}

.search__button {
  position: absolute;
  top: 0;
  left: 375px;
  display: none;  
  width: 65px;
  height: 45px;
  font: inherit;
  color: black;
  background-color: #f7e296;
  border: solid 2px black;
}

.search__button:hover {
  display: inline-block;
  color: white;
  background-color: black;
  outline: none;
}

.search__button:active {
  color: rgba(255,255,255,0.3);
}
/*** menu ************************************/
.menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.menu__link{
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font: inherit;
  color: black; 
}

.menu__link::before {
  position: absolute;
  top: 9px;
  left: -24px;
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";  
}

.menu__link:focus,
.menu__link:hover {
  opacity:  0.6;
}

.menu__link:active {
  opacity:  0.3;
  outline: none;
}

.header__top .menu__item {
  padding-left: 24px;
}

.header__top .menu__link--user-out {
  opacity: 0.3;
}

.header__top .menu__link--user-name::before,
.header__top .menu__link--user-in::before {
  background-image: url("../img/user.svg");
}

.header__top .menu__link--compare::before {
  background-image: url("../img/compare.svg");
}

.header__top .menu__link--basket::before {
  background-image: url("../img/cart.svg");
}

.header__top .menu--product {
  display: flex;
  justify-content: space-between;
  width: 43%;
}

.header__nav {
  width: 100%;
}

.menu--main {
  display: flex;
  justify-content: space-between;
}

.header__nav .menu__link--warranty {
  margin-right: 75px; 
}

.catalog__header,
.header__nav .menu__link,
.footer__main .menu__link {
  padding-left: 0;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: black;
  text-transform: uppercase;
}

.catalog {
  position: relative;
}

.catalog__header::after {
  position: absolute;
  top: 5px;
  right: -27px;
  width: 16px;
  height: 18px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  content: "";  
}

.catalog__list {
  position: absolute;
  top: 7px;
  left: -57px;
  width: 1102px;
  height: 141px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  z-index: 2;
  display: none;
  padding-top: 27px;
  padding-left: 57px;
  background-color: #f7e296;
  list-style: none;
}

.catalog__list:hover,
.catalog__header:hover + .catalog__list {
  display: flex;
  transition: 0.5s ease-out;
  transition-delay: 0.5s;
}

.catalog__link {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font: inherit;
  color: black; 
}

.catalog__link:hover {
  opacity:  0.6;
}

.catalog__link:focus,
.catalog__link:active {
  opacity:  0.3;
  outline: none;
}

.catalog__item {
  flex-basis: 37px;
  margin-right: 65px;
}

.catalog__item:nth-child(3) {
  padding-bottom: 30px;
}

.catalog__item:nth-child(5) {
  padding-bottom: 35px;
}

.catalog__item:nth-child(6) {
  padding-left: 10px;
}
/***** main ******************************************************/
/***** popular ***************************************************/
.popular {
  position: relative;
  margin-top: 0;
}

.popular__list {
  height: 100%;
  margin-top: 0;
  padding-left: 0;
}

.popular__item {
  position: relative;
  display: flex;
  justify-content: flex-end;
	display: none;
}

.popular__item::before {
  position: absolute;
  top: 2px;
  left: 930px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  color: white;
}

.popular__item--item1::before {
    content: "01";
}

.popular__item--item2::before {
    content: "02";
}

.popular__item--item3::before {
    content: "03";
}

.popular__selector--item1:checked ~ .popular__list .popular__item--item1,
.popular__selector--item2:checked ~ .popular__list .popular__item--item2,
.popular__selector--item3:checked ~ .popular__list .popular__item--item3 {
  display: flex;
}

.popular__item--item1{
  background: url("../img/slider1.png") 90px 15px no-repeat,
   linear-gradient(to bottom, #f7e296 128px, white 128px);
}

.popular__item--item2{
  background: url("../img/slider2.png") 115px 28px no-repeat,
   linear-gradient(to bottom, #f7e296 128px, white 128px);
}

.popular__item--item3{
  background: url("../img/slider3.png") 34px 82px no-repeat,
   linear-gradient(to bottom, #f7e296 128px, white 128px);
}

.popular__right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48.3%;
  height: 550px;
}

.popular__right::before {
  position: absolute;
  top: 53px;
  left: -5px;
  width: 101px;
  height: 7px;
  background-color: white;
  content: "";
}

.popular__slogan {
  margin-top: 96px;
  margin-bottom: 0;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.7px;
}

.popular__description {
  width: 475px;
  margin-top: 17px;
  margin-bottom: 0;
}

.popular__more-info {
  width: 220px;
  margin-top: 43px;
  margin-bottom: 50px;
}

.characteristics {
  display: flex;
  justify-content: space-between;
}

.characteristics__item {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 77px;
}

.characteristics dt {
  font-size: 13px;
  line-height: 20px;  
}

.characteristics dd {
  margin-left: 0;
  margin-bottom: 8px;
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 36px;
  line-height: 48px; 
}

.popular__controls {
  position: absolute;
  top: 343px;
  left: 998px;
  display: flex;
  justify-content: space-between;
  width: 79px;
  padding-left: 0;
  list-style: none;
}

.popular__control {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
 }

.popular__selector--item1:checked ~ .popular__controls .popular__control--item1 {
  background-image: url("../img/slider-button.svg");
}

.popular__selector--item2:checked ~ .popular__controls .popular__control--item2 {
  background-image: url("../img/slider-button.svg");
}

.popular__selector--item3:checked ~ .popular__controls .popular__control--item3 {
  background-image: url("../img/slider-button.svg");
}
/***** category *************************************************/
.category {
  margin-top: 59px;
}

.category__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.category__item {
   width: 160px;
}

.category__link {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;   
  letter-spacing: 0.2px;
  color: black;
}

.category__link::before {
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #f0c52e;
  opacity: 0.5;
  content: "";
}

.category__link::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.category__link:focus::before,
.category__link:hover::before {
  opacity: 1;
}

.category__link:active,
.category__link:active::after {
  opacity: 0.3;
}

.category__link--item1::after {
  background-image: url("../img/category1.svg");
}

.category__link--item2::after {
  background-image: url("../img/category2.svg");
  background-position: 38px 41px;
}

.category__link--item3::after{
  background-image: url("../img/category3.svg");
}

.category__link--item4::after{
  background-image: url("../img/category4.svg");
}

.category__link--item5::after{
  background-image: url("../img/category5.svg");
}

.category__link--item6::after{
  background-image: url("../img/category6.svg");
}
/***** service **************************************************/
.service {
  width: 100%;
  margin-top: 80px;
  background-image: linear-gradient(to bottom, white 100px, #e5e5e5 100px);
}

.service .container {
  display: flex;
 justify-content: flex-start;
}

.service__controls{
  height: 320px;
  width: 277px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 68px;
  border-right: 7px solid black;
}

.service__control{
  width: 165px;
  margin-bottom: 25px;
}

.service__control:first-child{
  margin-top: 33px;
}

.service__selector--item1:checked ~ .service__list .service__item--item1,
.service__selector--item2:checked ~ .service__list .service__item--item2,
.service__selector--item3:checked ~ .service__list .service__item--item3 {
  display: flex;
}

.service__control:active, 
.service__selector--item1:checked ~ .service__controls .service__control--item1,
.service__selector--item2:checked ~ .service__controls .service__control--item2,
.service__selector--item3:checked ~ .service__controls .service__control--item3 {
  color: #f7e296;
  background-image: none;
  background-color: black;
}

.service__control:active::after, 
.service__selector--item1:checked ~ .service__controls .service__control--item1::after,
.service__selector--item2:checked ~ .service__controls .service__control--item2::after,
.service__selector--item3:checked ~ .service__controls .service__control--item3::after {
  position: absolute;
  top: 0;
  left: 165px;
  width: 112px;
  height: 40px;
  background-color: black;
  content: "";
}

.service__list{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0;
  list-style: none;
}

.service__item {
  flex-direction: column;
  display: none;
  padding-left: 119px;
}

.service__item--item1{
  background: url("../img/delivery.svg") 675px 70px no-repeat;
}

.service__item--item2{
  background: url("../img/warranty.svg") 655px 46px no-repeat;
}

.service__item--item3{
  background: url("../img/credit.svg") 649px 46px no-repeat;
}

.service__sub-header{
  margin-top: 58px;
  margin-bottom: 18px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;   
  letter-spacing: 0.7px;
}

.service__text {
  width: 455px;
}
/***** brands ***************************************************/
.brands {
  margin-top: 108px;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  list-style: none;
}

.brands__item {
}

.brands__link {
  display: inline-block;
  width: 258px;
  height: 77px;
  background-position: center;
  background-repeat:  no-repeat;
  opacity: 0.2;
   -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.brands__link:hover {
  opacity: 1;
  filter: inherit;
}

.brands__link--item1 {
  background-image: url("../img/brand1.png");
}

.brands__link--item2 {
  background-image: url("../img/brand2.png");
}

.brands__link--item3 {
  background-image: url("../img/brand3.png");
}

.brands__link--item4 {
  background-image: url("../img/brand4.png");
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
  .brands__link--item1 {
    background-image: url("../img/brand-ie-1.png");
  }

  .brands__link--item2 {
    background-image: url("../img/brand-ie-2.png");
  }

  .brands__link--item3 {
    background-image: url("../img/brand-ie-3.png");
  }

  .brands__link--item4 {
    background-image: url("../img/brand-ie-4.png");
  }

  .brands__link--item1:hover {
    background-image: url("../img/brand1.png");
  }

  .brands__link--item2:hover {
    background-image: url("../img/brand2.png");
  }

  .brands__link--item3:hover {
    background-image: url("../img/brand3.png");
  }

  .brands__link--item4:hover {
    background-image: url("../img/brand4.png");
  }
}
/***** info *****************************************************/
.info {
  margin-top: 136px;
  margin-bottom: 83px;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 50%
}

.contacts {
  width: 48.4%
}

.about__header,
.contacts__header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 44px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;     
  letter-spacing: 0.7px;
}

.about__header::before,
.contacts__header::before {
  position: absolute;
  top: -51px;
  left: 1px;
  width: 79px;
  height: 7px;
  background-color: black;
  content: "";
}

.about__text,
.contacts__text {
  margin-bottom: 29px;
}

.about__text {
  width: 478px;
}

.contacts__text {
  width: 510px;
}

.about__list {
  margin-top: 66px;
  padding-left: 36px;
  list-style: none;  
}

.about__item {
  position: relative;
}

.about__item:before {
  position: absolute;
  top: 17px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-image: url("../img/list-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  content: "";
}  

.about__link {
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: black;
}

.about__link-more {
  width: 259px;
  margin-top: 38px;
}

.contacts__button{
  width: 259px;
  margin-top: 69px;
}

.contacts__map{
  width: 100%;
  height: 221px;
  margin-top: 39px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/***** footer ***************************************************/
.footer{
  position: relative;
  /*margin-top: 83px;*/
  background-color: #464646;
}
.footer .container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
}

.footer__logo svg{
  fill: #ffc600;
}

.footer__logo {
  position: absolute;
  top: 65px;
}

.footer__top {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer__top .menu__link {
  opacity: 0.7;
}

.footer__top .menu__link:hover, 
.footer__top .menu__link:focus {
  opacity: 1;
}

.footer__top .menu__link:active {
  opacity: 0.3;
}

.footer__top .menu__link.menu__link--user-out {
  opacity: 0.3;
}

.footer__top .menu--product {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.footer__top .menu--user {
  display: flex;
  justify-content: flex-end;
  width: 56%; 
}

.footer__top .menu__link--user-name::before,
.footer__top .menu__link--user-in::before {
  background-image: url("../img/user-footer.svg");
}

.footer__top .menu__link--user-name {
  margin-right: 20px;
}

.footer__top .menu__link--compare::before {
  background-image: url("../img/compare-footer.svg");
}

.footer__top .menu__link--basket::before {
  background-image: url("../img/cart-footer.svg");
}

.footer .menu__link{
  color: white;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 13px;
}

.footer__address,
.footer__phone {
  width: 31.5%;
  font: inherit;
  color: white;
}

.footer__phone {
  text-align: right;
}

.footer__main .menu--main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 34px;
  margin-bottom: 52px;
}

.footer__bottom::before {
  width: 78px;
  height: 5px;
  background-color: #ffc600;
  content: "";
}

.menu--social {
  display: flex;
  justify-content: space-between;  
  width: 12%;
  margin-right: 51px;
}

.menu--social .menu__link {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.menu--social .menu__link:focus,
.menu--social .menu__link:hover {
  opacity: 1;
}

.menu--social .menu__link:active {
  opacity: 0.1;
}

.menu__link--fb {
  background-image: url("../img/fb.svg"); 
}

.menu__link--vk {
  background-image: url("../img/vk.svg"); 
}

.menu__link--twitter {
  background-image: url("../img/twitter.svg"); 
}

.html-academy {
  width: 26.943px;
  height: 34.09px;
}

.html-academy:focus,
.html-academy:hover {
  opacity: 0.6;
}

.html-academy:active {
  opacity: 0.3;
}
/********* goods ******************************************/
.main__top {
  padding-left: 58px;
  padding-right: 58px;
}

.main__header {
  margin-top: 38px;
  margin-bottom: 10px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.7px;     
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-top: 19px;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 40px;  
}

.breadcrumbs__link {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: rgba(0, 0, 0, 0.6); 
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1); 
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link::before{
  position: absolute;
  top: 7px;
  right: -23px;
  width: 5px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  content: "";
}

.products {
  display: flex;
  margin-top: 45px;
}

.products .container{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.products::before,
.products::after {
  flex-grow: 1;
  content: "";
}

.products::before {
  background-image: linear-gradient(to bottom, #dbdbdb, #dbdbdb 68px, #ebebeb 68px, #ebebeb);
}

.products::after {
  background-image: linear-gradient(to bottom, #ebebeb, #ebebeb 68px, white 68px, white);
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  width: 330px;
  padding-bottom: 517px;
  background-color: #ebebeb;
}

.filter__header {
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 60px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.7px;   
  color: black;
  background-color: #dbdbdb;
  text-transform: uppercase;  
}

.filter__price,
.filter__color,
.filter__bluetooth {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  margin-left: 50px;
  border: none;
}

.filter__price {
  margin-top: 70px;
}

.filter__color {
  margin-top: 22px;
}

.filter__bluetooth {
  margin-top: 19px;
}

.price__header,
.color__header,
.bluetooth__header {
  width: 100%;
  margin-bottom: 16px;
  padding-top: 9px;
  color: black;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  border-top: 2px solid black;
}

.bluetooth__label,
.color__label {
  position: relative;
  margin-bottom: 10px;
  padding-left: 36px;
}

.bluetooth__label::before, 
.color__label::before {
  position: absolute;
  left: -4px;
  top: 3px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.bluetooth__label:hover::before, 
.color__label:hover::before {
  opacity: 0.6;
}

.color__control:disabled + .color__label,
.bluetooth__control:disabled + .bluetooth__label{
   opacity: 0.3;
}

.color__label::before {
  background-image: url("../img/checkbox-off.svg");
}

.color__control:checked + .color__label::before {
  background-image: url("../img/checkbox-on.svg");
}

.bluetooth__label::before {
  background-image: url("../img/radio-off.svg");
}

.bluetooth__control:checked + .bluetooth__label::before {
  background-image: url("../img/radio-on.svg");
}

/************************/

.price__control {
  position: relative;
  width: 200px;
  height: 2px;
  margin-top: 16px;
  background-image: linear-gradient(to right, #91c92f , #91c92f 106px, #dbdbdb 106px, #dbdbdb);
}

.price__left,
.price__right {
  position: absolute;
  top: -11px;
  width: 20px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/filter-button.svg");
  content: "";
}

.price__left {
  left: -6px;
}

.price__right {
  left: 106px;
}

.price__left:hover,
.price__right:hover {
  opacity: 0.6;
}

.price__label {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 5px;
}

.price__max {
  margin-right: 56px;
}

.filter__button {
  width: 200px;
  margin-top: 20px;
  margin-left: 58px;
}

.samples {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  align-items: stretch;
}

.samples__top {
  display: flex;
  justify-content: flex-start;
  background-color: #ebebeb;
}

.samples__header {
  display: block;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 69px;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.7px;   
  color: black;
  text-transform: uppercase;  
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 283px;
  margin-top: 18px;
  margin-left: 50px;
  padding-left: 0;
  list-style: none;
}

.sort__link {
  color: black;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sort__link:hover,
.sort__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort__link.sort__link--active,
.sort__link:active {
  color: rgba(0, 0, 0, 1);
}

.order {
  display: flex;
  margin-top: 30px;
  margin-left: 236px;
  padding-left: 0;
  list-style: none;
}

.order__link {
  display: block;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.order__link:hover,
.order__link:focus {
  opacity: 0.4;
}

.order__link.order__link--active,  
.order__link:active {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.order__item:first-child .order__link {
  margin-right: 21px;
  background-image: url("../img/icon-up-dir.svg");
}

.order__item:last-child .order__link {
  background-image: url("../img/icon-down-dir.svg");
}

/******************************/

.samples__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 32px;
  padding-left: 0;
  list-style: none;
}

.samples__item {
  width: 361px;
  height: 465px;
  margin-top: 39px;
  margin-left: 37px;
}

.samples__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.samples__link:hover .samples__img{
  opacity: 0.6;
}  

.samples__link:hover .samples__inner {
  display: flex;
}

.samples__inner{
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  height: 380px;
  z-index: 2;
}

.samples__description {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.samples__text {
  width: 265px;
  color: black;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.samples__price {
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.samples__button {
  width: 200px;
  margin-top: 43px;
  margin-bottom: 10px;
}

.samples-add__button {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: transparent;
  text-transform:  none;
}

.samples-add__button:hover,
.samples-add__button:focus {
  color: rgba(0, 0, 0, 1);
  background-image: none;
  background-color: transparent;  
}

.samples-add__button:active {
  color: rgba(0, 0, 0, 0.2);
  background-image: none;
  background-color: transparent;  
}
/**** pagination ************/
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 69px;
  padding-left: 0;
  list-style: none;
  background-color: #ebebeb;
}

.pagination__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;  
  color: black;
  font-family: Gilroy, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.pagination__item:first-child .pagination__link, 
.pagination__item:last-child .pagination__link {
  width: 130px;
}

.pagination__item:first-child .pagination__link:hover,
.pagination__item:first-child .pagination__link:focus, 
.pagination__item:last-child .pagination__link:hover,  
.pagination__item:last-child .pagination__link:focus {
  background-color: #dbdbdb;
}

.pagination__item:first-child .pagination__link:active, 
.pagination__item:last-child .pagination__link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dbdbdb;
}

.pagination__item:first-child .pagination__link {
  margin-right: 180px;
} 

.pagination__item:last-child .pagination__link {
  margin-left: 180px;
} 

.pagination__item:nth-child(2) .pagination__link, 
.pagination__item:nth-child(3) .pagination__link, 
.pagination__item:nth-child(4) .pagination__link {
  width: 20px;
  color: rgba(0, 0, 0, 0.3);  
} 

.pagination__item:nth-child(2) .pagination__link:hover, 
.pagination__item:nth-child(3) .pagination__link:hover, 
.pagination__item:nth-child(4) .pagination__link:hover,
.pagination__item:nth-child(2) .pagination__link:focus, 
.pagination__item:nth-child(3) .pagination__link:focus, 
.pagination__item:nth-child(4) .pagination__link:focus {
  color: rgba(0, 0, 0, 0.6);  
} 

.pagination__item:nth-child(2) .pagination__link:active, 
.pagination__item:nth-child(3) .pagination__link:active, 
.pagination__item:nth-child(4) .pagination__link:active,
.pagination__item .pagination__link.pagination__link--active {
  color: rgba(0, 0, 0, 1); 
}



