@font-face {
  font-family: "Opensans";
  font-weight: 300;
  src: url(../fonts/opensanslight.woff2) format("woff2"),
  url(../fonts/opensanslight.woff) format("woff");
}

@font-face {
  font-family: "Opensans";
  font-weight: 400;
  src: url(../fonts/opensans.woff2) format("woff2"),
  url(../fonts/opensans.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: url(../fonts/gilroylight.woff2) format("woff2"),
  url(../fonts/gilroylight.woff) format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: url(../fonts/gilroyextrabold.woff2) format("woff2"),
  url(../fonts/gilroyextrabold.woff) format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: black;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;  
  margin: 0 auto;
}

input::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}

/***** header ****************************************************/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 41px;
  background-color: #f7e296;
}

.header__logo {
  position: absolute;
  top: -19px;
  left: 61px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header__top,
.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
  margin-right: 55px;  
}

.header__right {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.header__top {
  margin-top: 27px;
}

.header__main {
  margin-top: 10px;
  margin-bottom: 20px;
}

/********************************************/

.search{
  position: relative;
/*  margin-top: 34px;*/
}

.search::before {
  position: absolute;
  top: 16px;
  left: 6px;
  width: 16px;
  height: 18px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";  
}

.search__text {
  width: 265px;
  height: 41px;
  padding-left: 40px;
  padding-right: 70px;
  font: inherit;
  /*font-family: 'Open Sans';
  font-size: 15px;
  line-height: 30px;*/
  color: rgba(0,0,0,0.3);
  background: #f7e296;
  border: none;
}

.search__text:hover{
  color: rgba(0,0,0,0.6);
}

.search__text:focus{
  color: black;
  border-bottom: solid 2px black;
  outline: none;
}

.search__text:focus + .search__button {
    display: inline-block;
}

.search__button {
  position: absolute;
  top: 0;
  left: 375px;
  display: none;  
  width: 65px;
  height: 45px;
  /*font-size: 15px;
  line-height: 30px;*/
  font: inherit;
  color: black;
  background-color: #f7e296;
  border: solid 2px black;
}

/*.search__button:focus,*/
.search__button:hover {
  display: inline-block;
  color: white;
  background-color: black;
  outline: none;
}

.search__button:active {
  color: rgba(255,255,255,0.3);
}



/*********************************************/




/*** menu ************************************/
.menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}


/*
.catalog__item,

.menu__item:first-child {
  padding-left: 0;
}
.menu__item:last-child {
  padding-right: 0;
}
*/

.menu__link{
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  
  font: inherit;
  color: black; 
  
}

.menu__link:hover {
  opacity:  0.6;
}

.menu__link:focus,
.menu__link:active {
  opacity:  0.3;
  outline: none;
}


.header__top .menu__item {
  padding-left: 24px;
}

.header__top .menu__link::before {
  position: absolute;
  top: 9px;
  left: -24px;
  width: 16px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";  
}

/***********************************************************/

.menu__link--user-in::before {
  background-image: url("../img/user.svg");
}

.menu__link--compare::before {
  background-image: url("../img/compare.svg");
}

.menu__link--basket::before {
  background-image: url("../img/cart.svg");
}

.header__top .menu--user {
  /*margin-top: 43px;*/
}

.header__top .menu--product {
  display: flex;
  justify-content: space-between;
  width: 43%;
}

.header__nav {
  width: 100%;
}

.menu--main {
  display: flex;
  justify-content: space-between;
/*  margin-top: 22px;
  margin-right: 26px;*/
}

.menu__link--warranty {
  margin-right: 75px; 
}

.catalog__header,
.header__nav .menu__link {
  padding-left: 0;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  color: black;
  text-transform: uppercase;
}

.catalog {
  position: relative;
  /*margin-top: 22px;
  margin-left: 29px;*/
}

.catalog__header::after{
  position: absolute;
  top: 5px;
  right: -27px;
  width: 16px;
  height: 18px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  content: "";  
}

.catalog__block {
  position: absolute;
  top: 25px;
  left: -55px;
  /*display: none;*/
  width: 1160px;
  height: 163px;
  background-color: #f7e296; 
}

.catalog__list:hover,
.catalog__header:hover + .catalog__list {
  display: flex;
}


.catalog__list {

  position: absolute;
  top: 7px;
  left: -55px;
  display: none;
  width: 1160px;
  height: 163px;
  background-color: #f7e296;


  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  /*height: 100%;

  padding-left: 0;
  margin-top: 25px;
  margin-left: 60px;*/
  list-style: none;
}


.catalog__link {
  position: relative;
  display: block;

  /*padding-top: 4px;
  padding-bottom: 3px;*/


  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  
  font: inherit;
  color: black; 
  
}
.catalog__link:hover {
  opacity:  0.6;
}

.catalog__link:focus,
.catalog__link:active {
  opacity:  0.3;
  outline: none;
}

.catalog__item {

  flex-grow: 1;
  flex-basis: 35px;
  
  /*margin-right: 65px;*/
  /*flex: 0 1 auto;*/


}

.catalog__item:nth-child(3) {
  /*padding-bottom: 30px;*/
  flex-grow: 10;
}

.catalog__item:nth-child(4) {
  /*padding-bottom: 30px;*/
  flex-grow: 10;
}

.catalog__item:nth-child(6) {
  /*padding-bottom: 30px;*/
  flex-grow: 1;
}

/*
.menu--catalog .menu__item:nth-child(5) {
 /*padding-bottom: 80px; */
  /*flex-grow: 2; 
}*/

/***** main ******************************************************/

.main {
  /*display: none;*/
}

/***** popular ***************************************************/
/*.popular__block{
	display: none;
}

.popular__item--item1 .popular__selector:checked + .popular__block,
.popular__item--item2 .popular__selector:checked + .popular__block,
.popular__item--item3 .popular__selector:checked + .popular__block{
	display: block;
}*/

/***** footer ***************************************************/

.footer{
  position: relative;
  margin-top: 200px;
  background-color: #464646;
}
.footer .container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;   
}

.footer__logo svg{
  fill: #ffc600;
}

.footer__logo {
  position: absolute;
  top: 65px;
}

.footer__top {
  display: flex;
  justify-content: flex-end;
}

.footer .menu__link{
  color: white;
}

.footer__main {
  display: flex;
  justify-content: flex-end;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

